
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Cal Sans", sans-serif;
    --secondary-font: "Inter", cursive;
    --primary-color: #ffff; /* white */
    --secondary-color: #aa9581; /* red */
    --highlight-color: #ffffff; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

body {
    font-family: var(--primary-font);
    background-color: black;
    padding-top: 57.15px; /* pushes the top of the header down under fixed navbar */
}

h1,
h2,
h3 {
    font-family: var(--primary-color);
    color: var(--primary-color);
}

.section {
    padding-top: 4rem; /* prevent navbar overlap */
}



/* Navbar */

/* https://stackoverflow.com/questions/61568539/how-to-achieve-a-blur-effect-on-navbar */
#navbar {
    background: rgba(255, 255, 255, 0.1); /* transparent background */
    backdrop-filter: blur(10px); /* blur background */
    /* -webkit-backdrop-filter: blur(10px); stöd för Safari */
}

#navbar .logo {
    width: 50px;
}

/* Carousel item img */

.carousel-item img {
    height: 400px; /* Justera efter behov */
    object-fit: contain;
} 

/* Se till att allt fyller hela skärmen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body, html {
    height: 100%;
    font-family: var(--primary-font), sans-serif;
    color: white;
}
  
.video-background {
    position: relative;         /* Gör så att videon flyttas med sidan */
    width: 100%;
    height: 60vh;               /* T.ex. 60% av skärmhöjden */
    overflow: hidden;
    z-index: 1;
}
  
.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ändra från 'cover' till 'contain' */
    background-color: black; /* Fyll ut kanterna om video inte täcker allt */
}
  
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 20%;
}

/* Footer / Navbar */

.bottom-navbar input {
    margin-right: 10px;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
}
  
.bottom-navbar ul {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
  
.bottom-navbar a {
    color: #fff;
    font-size: 20px;
    transition: transform 0.2s ease, opacity 0.3s;
}
  
.bottom-navbar a:hover {
    opacity: 0.7;
    transform: scale(1.2);
}

/* Buttons */

.custom-bottom-filled {
    border: 2px solid #fff;
    background-color: var(--highlight-color);
    color: white; 
}

.btn {
    padding: 0.3rem;
    height: 38px;
}

/* Spotify Widgets / Music.html */

.spotify-widget {
    display: block;
    margin: 0 auto;
    max-width: 250px;
}

.music-page {
    padding-top: 100px;
}

.music-section {
    display: flex;
    justify-content: center; /* Centrera innehållet */
    gap: 20px; /* Lägg till ett mellanrum mellan elementen (spotify widget och bild) */
    align-items: center; /* Vertikalt centrera innehållet */
    margin-bottom: 40px; /* Mellanrum mellan sektioner om flera musikklipp finns */
}

.music-image {
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    margin: 0 auto;
}

.bio img {
    height: 400px; /* Justera efter behov */
    object-fit: contain;
}

/* Social Media / icons */

.social-links {
    text-align: center;
}

.social-links a {
    margin: 20px; /* Lägg till mellanrum mellan ikonerna */
    font-size: 2rem;     /* Gör ikonerna större */
    color: white;        /* Om du vill ha vit färg */
    transition: transform 0.2s ease;
}


/* Small screens and up */
@media screen and (min-width: 576px) {
    /* increase font size in events table when screen size is large enough */
    .bottom-navbar {
        font-size: 1rem;
    }
    .student-discount {
        font-size: 1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 191px;
    }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: auto;
    }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 195px;
    }
}